body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#efecf1;
}

.mahsulot{
    margin-top: 100px;
    width: 220px;
    border: 2px solid #bba8c9;
    height: 390px;
    border-radius: 10px;
    margin-right: 10px;
    background-color: #ffffff;
}

.mahsulot:hover{
    border:#986cb6 2px solid;
    box-shadow: 5px 7px 10px #9567b4;
}

.img2, .imgel{
    background-color: #672b8f;
    width: 35px;
    height: 35px;
    display: block;
    border-radius: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;

}

.delivery{
    padding: 7px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.img3{
    width: 35px;
    height: auto;
    display: block;
}

.imgel1{
    width: 35px;
    height: auto;
}

.mahsulot:hover .img2{
    background-color: #672b8f;
}

.img{
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.all{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}


.telefon{
    width: 130px;
    height: auto;
}

.money{
    text-align: center;
    
}

h3{
    color: #672b8f;
}

p{
    text-decoration: line-through;
}

.chegirma{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
}

p{
    padding: 0;
    margin: 0;
    color:#8750ac;
}

h3{
    margin: 5px;
    padding: 5px;
}


h4{
    padding: 0;
    margin: 0;
    color: #672b8f;
}

.mahsulot:hover p{
    color: #672b8f;
}

.bolib{
    background-color:#672b8f;
    width: 180px;
    border-radius: 15px;
    margin-top: 5px;
    border:#672b8f 2px solid
}

.muddat{
    display: flex;
    justify-content: center;
}

.h4{
    color: white;
    padding: 2px;
}

.bord{
    border: #672b8f 2px solid;
    border-radius: 20px;
    width: 180px;
    margin-top: 9px;
    padding: 3px;
}

.ortaga{
    display: flex;
    margin: 0 auto;
}

.deel{
    /* border: #672b8f 2px solid; */
    border-radius: 20px;
    background-color:#672b8f;
    width: 180px;
    padding: 3px;
    margin: 0 auto;
    transition: all 0.5s ease;
}

.mahsulot:hover .deel{
    background-color:white;
    box-shadow: 7px 7px 10px #672b8f;
}

.mahsulot:hover .yet{
    color: #672b8f !important;
}

.mahsulot:hover .bolib{
    background-color: white;
    border: #672b8f 2px solid;
}

.mahsulot:hover .h4{
    color: #672b8f;
}

.mahsulot:hover .bord{
    background-color:#672b8f;
}

.mahsulot:hover .sotib{
    color: white;
}

.mahsulot:hover .imgel1{
    background-color:#672b8f;
    border-radius: 40%;
}

.telefon, .bolib, .bord{
    transition: all 0.5s ease;
}

.mahsulot:hover .telefon{
    width: 150px;
    height: auto;
}

.img2{
    transition: all 0.7s ease;
}

.mahsulot:hover .img2{
    transform: translateX(155px);
}

.imgel{
    transition: all 0.7s ease;
}

.mahsulot:hover .imgel{
    transform: translateX(-155px);
}


@media(max-width:700px){
    /* body{
        display: block;
        margin: 0px auto;
    } */
    .mahsulot{
        margin: 10px auto;
        padding: 5px;
        height: 400px;
    }
}

.mahsulot:hover .bord{
    box-shadow: 5px 5px 8px #672b8f;
}
.mahsulot:hover .sotib{
    text-shadow: 1px 1px 3px #ffffff;
}

.yeth{
    margin: 0 auto;
    background-color:#672b8f;
    width: 60px;
    border-radius: 20px;
    color: white;
}

.mahsulot:hover .yeth{
    background-color: white;
    color:#672b8f;
    box-shadow: 5px 5px 8px #672b8f;
}



